.row {
	margin-left: 0;
	margin-right: 0;
}

.navbar {
	margin: 0px;
	min-height: 75px;
}

.navbar-default {
	background-color: #2c3e50;
	border-width: 0;
}

.navbar-brand {
	margin-left: 75px;
}

.navbar a {
	padding: 28px !important;
	color: white !important;
}

.navbar ul {
	margin-right: 75px;
}

.jumbotron-head {
	text-align: center;
	border-width: 0;
	background-color: #18bc9c;
	color: white;
	margin-bottom: 75px;
}

.jumbotron-head img {
	border-radius: 101%;
	border-width: 0;
}

span {
	font-size: 25px;
}

.heading {
	text-align: center;
}

.row-thumb {
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 75px;
	margin-right: auto;
	width: 80%;
}

.thumbnail {
	border: 0;
}

.down-button {
	margin: 15px;
	background-color: #18bc9c;
	color: white;
	border-width: 2px;
	border-color: white;
}

.down-button span {
	font-size: 15px;
	padding-right: 2px;
}

.form-horizontal input {
	padding: 25px 10px;
	border-radius: 0;
	border-width: 1.5px;
	border-right: none;
	border-bottom: none;
	border-left: none;
	box-shadow: none !important;
}

.form-group {
	margin-bottom: 0;
}

.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

.form-horizontal button {
	background-color: #18bc9c;
	color: white;
	border-width: 2px;
	border-color: white;
	border-radius: 8px;
}

.footer-top {
	margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #2c435a;
	color: white;
}

.footer-top a {
	text-decoration: none;
	color: #18bc9c;
}

.footer-top h3, p {
	text-align: center;
}

.footer-bottom {
	background-color: #2c3e50;
	color: white;
	text-align: center;
	padding-top: 20px;
}